{# templates/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    {# This is where your Symfony form or other content might go #}
  
    {# Insert the new Visme code here #}
<div class="visme_d" data-title="Untitled Project" data-url="mxg491zn-untitled-project?sidebar=true" data-domain="forms" data-full-page="false" data-min-height="600px" data-form-id="50005"></div>
<script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>

{% endblock %}
