<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Feuilles de styles -->
        {% block stylesheets %}{% endblock %}

		<!-- Fichiers JS -->
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
